[package]
name = "egg"
version = "0.6.1-dev"
authors = ["Max Willsey <me@mwillsey.com>"]
edition = "2018"
description = "An implementation of egraphs"
repository = "https://github.com/egraph-good/egg"
readme = "README.md"
license = "MIT"
keywords = ["e-graphs"]
categories = ["data-structures"]

[dependencies]
symbolic_expressions = "5"
log = "0.4"
smallvec = { version = "1", features = ["union", "const_generics"] }
indexmap = "1"
instant = "0.1"
once_cell = "1"
# for the serde-1 feature
serde = { version = "1", features = ["derive"], optional = true }
# for the reports feature
serde_json = { version = "1", optional = true }
fxhash = "0.2"
hashbrown = { version = "0.11", default-features = false, features = ["inline-more"] }
thiserror = "1"

good_lp = { version = "1.2", optional = true }

[[bench]]
name = "bench_tests"
harness = false

[dev-dependencies]
env_logger = {version = "0.7", default-features = false}
ordered-float = "1"

[dev-dependencies.iai]
# version = "*"
git = "https://github.com/mwillsey/iai"
rev = "c0b7cb47181e9577a6847caae53a2f0f881f45b2"
features = ["threadpool"]

[features]
wasm-bindgen = [ "instant/wasm-bindgen" ]
serde-1 = [ "serde", "indexmap/serde-1", "hashbrown/serde" ]
reports = [ "serde-1", "serde_json" ]
