section {
    float: left;
    padding: 20px;
}

.eclass p {
    margin: 0 10px;
}

.rewrite-group {
    display: flex;
    align-items: flex-start;
}

.rewrite {
    display: flex;
    align-items: flex-start;
}
